body {
  margin: 0;
  font-family: 'Poiret One', sans-serif;
  text-align: center;
  font-size: 1.5em;
}

h1 {
  font-family: 'Sacramento', sans-serif;
  margin: 80px auto 0;
  font-size: 5.65rem;
}

h2 {
  font-size: 2em;
}

h3 {
  font-family: 'Cinzel Decorative';
}

hr {
  border: none;
  border-top:0.8rem dashed #E5E4E2;
  width: 10%;
}

.top-container {
  font-size: 2rem;
  background: black;
  color: white;
  padding-top: 80px;
  position: relative;
}
.top-cloud {
  position: absolute;
  right: 20%;
  top: 10%;
}

.bottom-cloud {
  position: absolute;
}
.mountain {
  width: 48%;
}

.pro {
  text-decoration: underline;
}
.profile {
  margin: 50px;
}
.code-img {
  width:25%;
  margin-right: 20px;
  float: left;
}
.sport-img {
  margin-left: 20px;
  width:25%;
  float: right;
}

.skills {
  margin: 100px auto 0;
  width: 50%;
}

.skill-row  {
  text-align: left;
  line-height: 2;
  margin: 70px auto;

}

.contact-me {
  margin: 70px auto 0;
  width: 80%;
}

.bottom-container {
  margin-top: 30px;
  font-family: 'Cinzel Decorative';
  padding-top: 1em;
  background: black;
  color: white;
  width: 100%;
  position: absolute;
}

.footer-link {
  padding: 0 20px;
  color: white;
}
